<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psychic_engine.cmput301w17t10.feelsappman">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.LoginActivity">
            <supports-screens android:anyDensity="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.CreateMoodActivity"
            android:label="CreateMoodActivity">
            <intent-filter>
                <action android:name="com.psychic_engine.cmput301w17t10.feelsappman.CreateMoodActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.EditMoodActivity"
            android:label="EditMoodActivity">
            <intent-filter>
                <action android:name="com.psychic_engine.cmput301w17t10.feelsappman.EditMoodActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ViewMoodEventActivity"
            android:label="ViewMoodEventActivity">
            <intent-filter>
                <action android:name="com.psychic_engine.cmput301w17t10.feelsappman.ViewMoodEventActivityTest" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SelfNewsFeedActivity"
            android:label="@string/title_activity_self_news_feed_actvity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.FilterMapActivity"
            android:label="FilterMapActivity">
            <intent-filter>
                <action android:name="com.psychic_engine.cmput301w17t10.feelsappman.CreateMoodActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.FollowingActivity" />
        <activity android:name=".Activities.FollowersActivity" />
        <activity android:name=".Activities.FollowRequestActivity" />
        <activity android:name=".Activities.MyFeedActivity"></activity>
    </application>

</manifest>